<h1>Welcome to Trek, <%= session[:username] %>.</h1>
<ul>
  <% @user.conversations.each do |convo| %>
    <% convo.users.each do |user| %>
      <% if user.name != @user.name %>
        <li><%= link_to user.name, convo %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
