<h1>Welcome to Trek, <%= session[:username] %>.</h1>

<p><%= link_to 'Start New Conversation', new_conversation_path %></p>


<% if @user.conversations &&  @user.conversations.length == 0 %>
<h3>No new conversations</h3>
<% elsif @user.conversations%>
  <ul>
    <% @user.conversations.each do |convo| %>
      <% convo.users.each do |key, user| %>
        <% if user.username != @user.username %>
          <li><%= link_to user.username, convo %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% else %>
  <h3>No new conversations</h3>
<% end %>
