<div class="a">
  <h1>Welcome to TREK, <%= session[:username] %>.</h1><br><br>
  <h3>TREK is a messaging platform where users are able to
      converse with one another without the burden of
      language barriers. </h3><br><br>
  <h4>Click on Start New Link in the sidebar or New Link in
    the header to initiate a conversation with available users.</h4>
  <h4>Current links will appear in the sidebar.</h4>
  <%= image_tag('TREK1.png', size:"375") %> <%= image_tag('TREK.png', size:"375")  %>
</div>
