<div class="a">
  <h1>Welcome to TREK, <%= session[:username] %>.</h1><br><br>
  <h4>TREK is a messaging platform where users are able to
      converse with one another without the burden of
      language barriers. </h4>
</div>
