<h1>Welcome to Trek, <%= session[:username] %>.</h1>

<p><%= link_to 'Start New Conversation', new_conversation_path %></p>

<% if @user.conversations == nil %>
  <h3>No new conversations.</h3>
<% else %>
  <ul>
    <% @user.conversations.each do |convo| %>
      <% convo.users.each do |user| %>
        <% if user.username != @user.username %>
          <li><%= link_to user.username, convo %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
