/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require style
 *= require_self
 */

.container {

}

.speech-bubble-me {
    background: #176dbb;
    color: #ffffff;
    border-radius: 1em;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    padding-left: 1%;
    padding-right: 0.5%;
    max-width: 12%;
    text-align: left;
    position: relative;
    left: 62.5%;
}

.speech-bubble-him {
    background: LightGray;
    border-radius: 1em;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    padding-left: 1%;
    padding-right: 0.5%;
    max-width: 12%;
    text-align: left;
    position: relative;
    left: 27.5%;
}
