<header class="main-header">
  <a class="logo" href="/welcome">
    <i class="fa fa-paper-plane">
    </i> TREK
</a>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/conversations/new">
            <i class="fa fa-handshake-o text-lime"></i> New Link
            <span class="label label-success"></span>
          </a>
        </li>
        <li class="dropdown notifications-menu">
<a class="dropdown-toggle" data-toggle="dropdown" href="/your_conversations">
            <i class="fa fa-cubes text-orange"></i> Links
            <span class="label label-warning"></span>
          </a>
        </li>
        <li class="dropdown tasks-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/logout">
            <% if logged_in? %>
              <i class="fa fa-hand-spock-o text-red"></i> Logout
            <% else %>
              <i class="fa fa-power-off text-lime"></i> Login
            <% end %>
          </a>
        </li>
        <li class="dropdown user user-menu">
          <% if @user %>
            <a class="dropdown-toggle" data-toggle="dropdown" href="/users/<%= @user.id %>">
              <img alt="User Image" class="user-image" src="<%= @random_image %>" />
            <span class="hidden-xs"><%= session[:username] %></span>
            </a>
          <% else %>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="hidden-xs"><%= session[:username] %></span>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
